<main>
  <h2>Calendrier</h2>
  <div>
  <button type="button" mat-raised-button (click)="filterByType()">
    Par Type
  </button>
  <button type="button" mat-raised-button (click)="filterByTime()">
    Par horaire
  </button>
  </div>
  <mat-list>
    <mat-list-item routerLink="/event/add">
      <div matListItemIcon>
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <h3 matListItemTitle>Ajouter une carte</h3>
    </mat-list-item>
    <mat-list-item *ngFor="let event of events" routerLink="/events/{{event.id}}">
      <div matListItemIcon>
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="deleteEvent(event)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <h3 matListItemTitle>{{event.title}}</h3>
      <span matListItemLine>
        <span>{{event.time}}</span>
        <span> -- {{event.type}} <mat-icon>edit</mat-icon></span>

      </span>
    </mat-list-item>
  </mat-list>
</main>
