<main>
<h2>Ajouter l'événement</h2>
<form (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Titre</mat-label>
    <input matInput [(ngModel)]="model.title"  name="title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Horaire</mat-label>
    <input matInput type="time" [(ngModel)]="model.time"  name="time">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type d'activité</mat-label>
    <mat-select required [(ngModel)]="model.type" name="type">
      <mat-option *ngFor="let type of types" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" mat-raised-button color="accent">Ajouter</button>
</form>
</main>

